<%- include('includes/head.ejs') %>

<main>
  <h1>Book List</h1>

  <% if(books.length == 0) { %>
    <p class="book-list-empty">No books yet.</p>
  <% } else { %>
    <ul class="book-list"> 
      <% for(const book of books) { %>
        <li>
        <span class="book-list__label">Title: </span><span> <%= book.title %> </span>
        <span class="book-list__label">Description: </span><span> <%= book.description %> </span>
        <span class="book-list__label">Author: </span><span> <%= book.author %> </span>
        <span class="book-list__label">Year Published: </span><span> <%= book.publishedOn %> </span>
        </li>
      <% } %>
    </ul>
  <% } %>

</main>

<%- include('includes/end.ejs') %>