<section class="pagination">
  <!-- <a href='/prove/pr08/?page=1<% if(keyword != undefined) { %>&keyword=<%=keyword%><% } %>'>1</a>
  <a href='/prove/pr08/?page=2<% if(keyword != undefined) { %>&keyword=<%=keyword%><% } %>'>2</a> -->

  <% if(currentPage !== 1 && previousPage !== 1) { %> 
    <a href='/prove/pr08/?page=1<% if(keyword != undefined) { %>&keyword=<%=keyword%><% } %>'>First</a>
  <% } %>
 
  <% if(hasPreviousPage) { %> 
    <a href='/prove/pr08/?page=<%= previousPage %><% if(keyword != undefined) { %>&keyword=<%=keyword%><% } %>'><%= previousPage %></a>
  <% } %>
  <a href='/prove/pr08/?page=<%= currentPage %><% if(keyword != undefined) { %>&keyword=<%=keyword%><% } %>' class="active"><%= currentPage %></a>
  <% if(hasNextPage) { %> 
    <a href='/prove/pr08/?page=<%= nextPage %><% if(keyword != undefined) { %>&keyword=<%=keyword%><% } %>'><%= nextPage %></a>
  <% } %>
  <% if(currentPage !== lastPage && nextPage !== lastPage && lastPage !== 0) { %> 
    <a href='/prove/pr08/?page=<%= lastPage %><% if(keyword != undefined) { %>&keyword=<%=keyword%><% } %>'>Last</a>
  <% } %>

</section>