<!DOCTYPE html>
<html>
<head>
  <% include ../../includes/header.ejs %>
  <link rel="stylesheet" href="/stylesheets/team/ta03/main.css">
</head>

<body>
  <% include ../../includes/nav.ejs %>
<div class="jumbotron text-center">
  <div class="container">
    <h1><%= title %></h1>
    <p>This is the placeholder for Team Activity 03</p>
  </div>
</div>
<div class="container">
  <form action="/team/ta03/" method="POST">
    <label for="keyword">Search</label>
    <input type="text" id="keyword" name="keyword">
    <button type="submit">Filter</button>
  </form>
  <ul class="ta03-list">
    <% if(data.length > 0) { %>
    
      <% for(let d of data) { %> 
        <li>
          <h2><%= d.name %></h2>
          <img src="<%= d.imageUrl %>" alt="<%= d.name %>">
          <p class="price">$<%= d.price %></p>
          <p>Description: <%= d.description %></p>
          <span>Tags: <%= d.tags.join(', ') %></span>

        </li>  
      <% }%>
    <% } else { %>
      <p>No matches found.</p>
    <% }%>
  </ul>
</div>


</body>
</html>
